<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
        <div class="nav-header">
            <a class="nav-link" href="/listings"><img src="/svg/logo.png" style="height: 3rem; width: auto;" alt="logo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-link-new">
                <a class="nav-link nav-link-new" href="/listings/new">Get Listed!</a>
            </div>

            <div class="navbar-nav ms-auto">
                <div class="search">
                    <form action="/listings/place?" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search Location" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
    
            <div class="navbar-nav ms-auto">
                <% if (!currUser) {%>
                    <a class="nav-link" aria-current="page" href="/signup"><b>Signup</b></a>
                    <a class="nav-link" href="/login"><b>Login</b></a>
                    <% } %>
                        <% if (currUser) {%>
                            <a class="nav-link" href="/logout"><b>Logout</b></a>
                            <% } %>
            </div>
        </div>
    </div>
</nav>

return (
  <div className="navbar bg-base-100">
    {/* Left (Logo + Explore + Search) */}
    <div className="navbar-start gap-2">
      {/* Mobile Dropdown */}
      <div className="dropdown">
        <div tabIndex={0} role="button" className="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            className="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="2"
              d="M4 6h16M4 12h16M4 18h7"
            />
          </svg>
        </div>
        <ul
          tabIndex={0}
          className="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a>Explore</a></li>
          <li><a>Rent It Now</a></li>
          <li><a>Signup</a></li>
          <li><a>Login</a></li>
        </ul>
      </div>

      {/* Logo */}
      <a className="text-lg font-bold">StaySphere</a>

      {/* Desktop Links */}
      <div className="hidden lg:flex items-center gap-2">
        <a className="btn btn-ghost text-lg">Explore</a>
        <form className="search-bar flex gap-1">
          <div className="form-control">
            <input
              type="text"
              placeholder="Search"
              className="input input-bordered w-24 md:w-auto"
            />
          </div>
          <button className="btn btn-ghost btn-circle" type="submit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              className="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </button>
        </form>
      </div>
    </div>

    {/* Right (Desktop Only) */}
    <div className="navbar-end hidden lg:flex gap-2">
      <a className="btn btn-ghost text-base">Rent It Now</a>
      <a className="btn btn-ghost text-base">Signup</a>
      <a className="btn btn-ghost text-base">Login</a>
    </div>
  </div>
);
